
body{
    background-color: rgb(147, 247, 111);
    /* background-image: url("../image/iron.jpg");  */
    height: 100vh;  
    width: 100vh;
    
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;  
}
a{
    color: aliceblue;
    
}
button{
    shape-outside: margin-box;
    background-color: aqua;
    border-radius: 10px;
    
    top: 50%;
 
}
.finalList{
    shape-outside: margin-box;
    background-color: aqua;
    border-radius: 10px;
}
